body {
    width: 100%;
    height: 70%;
    background-color: #1E1E1E;
}

header {
    width: 100%;
    height: 15%;
    display: flex;
    align-content: center;
    padding: 15px;
    background-color: #6f6f6f;
}

header > .logo {
    width: 50%;
    height: 100%;
}
nav {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0 15px;
}

a, label, p {
    color: white;
}

h1 {
    color:#00fa00;
}

footer {
    width: 100%;
    height: 15%;
    background-color: #6f6f6f;
}

.logo {
    color: white;
    font-size: 32px;
}

.content {
    width: 100%;
    height: 70%;
}
